h1,
h2,
h3 {
  color: var(--color-text-main);
  line-height: var(--lh-tight);
  font-weight: 800;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

html {
  background-color: var(--color-bg-main);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-text-main);
  overflow-x: hidden;
  background-color: var(--color-bg-main);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.05;
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noiseFilter"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%25" height="100%25" filter="url(%23noiseFilter)"/%3E%3C/svg%3E');
}

main {
  flex: 1 0 auto;
}

input,
textarea,
button {
  padding: var(--space-2) var(--space-4);
}

.tip-anchor {
  position: relative;
}

.tip-box {
  position: fixed;
  position-area: top;
  position-try-fallbacks: flip-block;
  margin-bottom: 8px;
  border: none;
  background: var(--color-bg-surface);
  color: var(--color-text-main);
  padding: var(--space-1) var(--space-3);
  border-radius: 4px;
  font-size: var(--fs-small);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}

.tip-anchor:hover>.tip-box {
  opacity: 1;
}
