.blog-card {
  position: relative;
  gap: var(--space-4);
}

.blog-card-image {
  max-width: 250px;
  border-radius: var(--space-4);
  align-self: start;
}

.blog-card-body {
  flex: 1;
}

.blog-card time,
.blog-card .blog-card-meta span {
  font-size: var(--fs-small);
  color: var(--color-text-muted);
}

.blog-card-tags {
  flex-wrap: wrap;
  gap: var(--space-2);
}

.tag {
  font-size: var(--fs-small);
  padding: var(--space-1) var(--space-3);
  border: var(--border);
  border-radius: var(--space-1);
  color: var(--color-primary);
}
