.contact {
  padding-block-end: var(--section-spacing);
}

.contact-header {
  div {
    display: flex;
    gap: var(--space-2);

    .button {
      padding: var(--space-2);
      align-self: center;
    }
  }
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2);

  >div {
    grid-column: span 2;

    display: grid;
    grid-template-columns: subgrid;
    gap: inherit;

    input {
      width: 100%;
    }
  }

  textarea,
  button {
    grid-column: span 2;
    width: 100%;
  }
}
